spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/chatterbox
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true

  data:
    redis:
      host: redis-15328.c10.us-east-1-4.ec2.cloud.redislabs.com
      port: 15328
      username: default
      password: GCnhHUZk649rwk9ytm14hN3Ef0AsPppS

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.cache: TRACE

jwt:
  secret-key: dGhpcyBpcyBhIHNlY3JldCBrZXkgZm9yIEpXVCBhbXhsIEkgYW0gYWRkaW5nIGEgbG9uZ2VyIHRleHQgdG8gbWFrZSBpdCBzZWN1cmU=
  access-token-expiration-time: 86400000
