spring:
  application:
    name: chatterbox

  datasource:
    url: jdbc:postgresql://localhost:5432/chatterbox
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
  data:
    redis:
      host: redis-19238.crce182.ap-south-1-1.ec2.redns.redis-cloud.com
      port: 19238
      username: default
      password: yR7ggroDIaLCtxTmAsK8Vupmw33Ohprw


server:
  port: 8080
  address: 0.0.0.0

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.cache: TRACE

jwt:
  secret-key: dGhpcyBpcyBhIHNlY3JldCBrZXkgZm9yIEpXVCBhbXhsIEkgYW0gYWRkaW5nIGEgbG9uZ2VyIHRleHQgdG8gbWFrZSBpdCBzZWN1cmU=
  access-token-expiration-time: 86400000



